<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Link Shortener</h1>
    <hr>
    {% if links %}
        {% for link in links  %}
            <h2> {{link.name}} </h2>
            <a href="{{link.url}}">{{link.url}}</a>
            <p> {{link.slug}} </p>
            <p>Clicks: {{link.clicks}}</p>
        {% endfor %}
    {% else %}
        <p>No links. Add yours one.</p>
    {% endif %}
</body>
</html>